:root {
  --accent-color: #2196f3;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --hero-background-color: #2f303a;
}

/*ОБЩИЙ СТИЛЬ*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-font-color);
}
/* убирает точки на макете */
ul {
  list-style-type: none;
}
/* убирает подчеркивание */
a,
a:visited {
  text-decoration: none;
}

/* основной заголовок */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
}

/* страница на какой находимся, подсвечивается */
.active.page {
  color: var(--accent-color);
}
/* HEADER  */
.logo.header,
.bottom {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.blue {
  color: var(--accent-color);
}
.page {
  color: var(--main-font-color);
}
.page-link,
a:visited {
  letter-spacing: 0.02em;
  line-height: 1.14;
  font-weight: 500;
}
.page-link a:hover,
.mail:hover,
.phone:hover {
  color: var(--accent-color);
}
.mail,
.phone {
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: var(--secondary-font-color);
}

/* HERO */
.hero {
  background-color: var(--hero-background-color);
}
/* кнопка в герое */
.button,
.button:focus {
  width: 200px;
  height: 50px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  line-height: 1.87;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.advantages h3 {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-font-color);
}
.advantages,
.team-title p {
  color: var(--secondary-font-color);
}

.team-title {
  background-color: #f5f4fa;
}

/* ПОРТФОЛИО */
/* .filter-button 
{font-family: 'Roboto', sans-serif;} */


.products-list button {
  font-family: 'Roboto', sans-serif;
  color: var(--main-font-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid #f5f4fa;
  outline: none;
}
.products-list button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

.project-list .product-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  text-align: left;
  color: var(--main-font-color);
}
.project-list .product-item {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-font-color);
}

/* FOOTER */
footer {
  background-color: var(--hero-background-color);
}
.logo.bottom {
  color: #ffffff;
}
.address {
  color: #ffffff;
  font-style: normal;
}
.address-list .address {
  color: rgba(255, 255, 255, 0.6);
}
