:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
 --hero-background-color: #2f303a;
}

/* Main style */

  body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}
/* Убирает оформление текста (точки) */
ul {
  list-style: none;
}

/* Подчеркивание ссылок */
a {
  text-decoration: none;
}

.container {
  width: 100%;

h1{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
color: #ffffff;}
   
.hero{
    background-color: var(--hero-background-color);
}

.button, .button:focus{
    width: 200px;
    height: 50px;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    letter-spacing: 0.06em;
    line-height: 1.87;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}

       */
/* h2{
      font-size: 36px;
      line-height: 1.16;
      font-weight: 700;
      text-align: center;
  } 
  .link current{
    color:var(--accent-color) ;
  }

  /* Стиль header */

/* .logo.header {
  color:#212121;
  font-family:Raleway,sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  }
  .accent {
    color: var(--accent-color);
  } */

/* site nav
  .site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration:none;
  }
  .site-nav .link:hover .site-nav .link:focus {
    color: var(--accent-color);
  }
  .site-nav .link.current {
    color: var(--accent-color);

  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primaty-text-color);
  }

  .site-nav contacts:hover .site-nav contacts:focus {
    color: var(--accent-color);}

    Hero
    .hero{background-color:var (--background-color-hero);
      
  
    /* Button */

/* .button:hover,
    .button:focus {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    } */

/* Section
    .section-title {
      color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
      }
     */

/* ПОРТФОЛИО ОФОРМЛЕНИЕ */
/* h1,
      h2 {
        color: var(--title-text-color)
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
      } */

/* .button-filter:hover .button-filter:focus {
        background-color: var(--background-color-button);
        color: var(--title-text-color)
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
      }
     */

/* Footer */
/* 
  footer {
    background-color: var(-background-color-hero);
  }
  .address {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  } */
